body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.30vmin;
}
.one_img{
    background-image: url(../img/190H.png);
    background-size: 100% 100%;
    background-attachment: local;
    background-repeat: no-repeat;
}
.background_img1{
    background-image: url(../img/Banner.png);
    background-size: 100% 100%;
    background-attachment: local;
}
.container__background_img{
    background-image: url(../img/zk2asdasd.png);
    background-size: 100% 100%;
    background-attachment: local;
    text-shadow: 0 0 20px rgba(48, 48, 48, 0.7);
}
.background_img_1_of_3{
    background-image: url(../img/ZEJWTGXOEE.png);
    background-size: 100% 100%;
    background-attachment: local;
    height: 50vh;
     text-shadow: 0 0 20px rgba(48, 48, 48, 0.7);
}
.background_img_2_of_3{  
      background-image: url(../img/7FMZC77KOO.png);
    background-size: 100% 100%;
    background-attachment: local;
    height: 50vh;
     text-shadow: 0 0 20px rgba(48, 48, 48, 0.7);
}
.background_img_3_of_3{  
    background-image: url(../img/5OTFJYVYSE.png);
    background-size: 100% 100%;
    background-attachment: local;height: 50vh; 
    text-shadow: 0 0 20px rgba(48, 48, 48, 0.7);
}
.background_kub_1{
    background-image: url(../img/back1.png);
    background-size: 85% 140px;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 70px;
}
.background_kub_2{
    background-image: url(../img/back4.png);
background-position: bottom;
background-size: 85% 60%;
background-repeat: no-repeat;
background-attachment: initial;
background-position-y: 87%;
}
.background_kub_3{
background-image: url(../img/back3.png);
background-position: center;
background-size: 86% 70%;
background-repeat: no-repeat;
}
.font-size_800_pers{
    font-size: 800%;
}
.font-size_500_pers{
    font-size: 500%;
}
.font-size_600_pers{
    font-size: 600%;
}

.font-size_53px{
     font-size: 53px;
    }
.font-size_35px{
     font-size: 35px;
    }
.font-size_25px{
     font-size: 25px;
    }
.font-size_20px{
     font-size: 20px;
    }
.font-size_15px{
     font-size: 15px;
    }
    .font-size_10px{
        font-size: 10px;
       }
.section__button{
    border-radius: 25px;
    width: 130px;
}


.vertext{
    transform-origin: right;
    transform: rotate(90deg);
    padding-left: 100px;
    float: right;

}